{% extends 'base.html.twig' %}

{% block title %}Create New Category
{% endblock %}

{% block body %}
	{% include "_partials/_flush.html.twig" %}
	{% include '_partials/_adminav.html.twig' %}
	<main class="flex flex-col gap-4 md:gap-5 px-4 lg:px-5 lg:ml-56 h-auto pt-20 pb-5">
		<div class="px-6 py-8 lg:px-8">
			<h1 class="text-3xl font-bold mb-4 text-center text-blue-600 ">Create New Category</h1>

			{% include 'equipment/_form.html.twig'%}

			<a href="{{ path('equipment_index') }}">Back to list</a>
		</div>
	</main>
{% endblock %}
