{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	<div class="max-w-sm mx-auto">
		<h1 class="text-3xl font-bold mb-4 text-center text-blue-600 ">Modifier un Category</h1>
		<a href="{{ path('category_index') }}">Back to list</a>
		{% include 'category/_form.html.twig' with {'form': form} %}
	</div>
{% endblock %}
