{% extends 'base.html.twig' %}

{% block title %}Edit Category
{% endblock %}

{% block body %}
	{% include "_partials/_flush.html.twig" %}
	<main class="flex flex-col gap-4 p-4 md:p-6 h-auto pb-5 dark:bg-gray-900 max-w-md mx-auto">
	<div class="px-6 py-8 lg:px-8 dark:bg-gray-900">
		<h1 class="text-3xl font-bold mb-4 text-center text-blue-600 ">Modifier un Category</h1>
		<a href="{{ path('category_index') }}">Back to list</a>
		{% include 'category/_form.html.twig' with {'form': form} %}
	</div>
	</main
{% endblock %}
