{% extends 'base.html.twig' %}

{% block title %}Create New Category
{% endblock %}

{% block body %}
	{% include "_partials/_flush.html.twig" %}

<div class="max-w-sm mx-auto">
	<h1 class="text-3xl font-bold mb-4 text-center text-blue-600 ">Créer une nouvelle Category	</h1>
	{% include "_partials/_flush.html.twig" %}

	{% include 'category/_form.html.twig' with {'form': form} %}

	<a classe="btn btn-primary" href="{{ path('category_index') }}">Back to list	</a>
</div>
{% endblock %}
