{% extends 'base.html.twig' %}

{% block title %}Edit Supplier{% endblock %}

{% block body %}
	{% include "_partials/_flush.html.twig" %}

    <h1>Edit Supplier</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
