<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100 dark:bg-gray-900">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
			- FlexiStock</title>

		<!-- Tailwind CSS -->
		{# <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> #}

		<!-- Favicon -->
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='#fff'>sf</text></svg>"> <!-- External CSS Libraries -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link
		href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet">
		{# <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"> #}
		<link
		href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

		<!-- Stylesheets -->
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		 <script>
		    // Check if we should apply dark mode immediately
		    if (localStorage.getItem('color-theme') === 'dark' || (!localStorage.getItem('color-theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
		        document.documentElement.classList.add('dark');
		    }
		</script>

	</head>
	<body class="min-h-screen bg-gray-100 dark:bg-gray-900">
		{% include '_partials/_flush.html.twig' %}
		{% if not hide_navigation is defined or not hide_navigation %}
			{% if app.request.get('_route') in ['app_home', 'order_equipment'] %}
				{% include '_partials/_user_navbar.html.twig' %}
			{% else %}
				{% include '_partials/_navbar.html.twig' %}
			{% endif %}
		{% endif %}

		<!-- Sidebar -->
		{% if (not hide_navigation is defined or not hide_navigation) and app.request.get('_route') not in ['app_home', 'order_equipment', 'app_login'] %}
			{% include '_partials/_sidebar.html.twig' %}
		{% endif %}

		<!-- Main Content -->
		<div class="{% if (not hide_navigation is defined or not hide_navigation) and app.request.get('_route') not in ['app_home', 'order_equipment', 'app_login'] %}p-4 lg:ml-64 mt-14{% endif %} bg-gray-100 dark:bg-gray-900">
			<div class="{% if (not hide_navigation is defined or not hide_navigation) and app.request.get('_route') not in ['app_home', 'order_equipment', 'app_login'] %}p-4{% endif %} mb-16 bg-gray-100 dark:bg-gray-900">
				{% block body %}
					{% block content %}{% endblock %}
				{% endblock %}
			</div>
		</div>

		<!-- Footer -->
		{% if (not hide_navigation is defined or not hide_navigation) and app.request.get('_route') not in ['app_home', 'order_equipment', 'app_login'] %}
			{% include '_partials/_footer.html.twig' %}
		{% endif %}

		<!-- External JavaScript Libraries -->
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		 <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" defer></script>
		 <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
		 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
		{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js" defer></script>
		#}
		 <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" defer></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer></script>
		 <script src="https://cdn.rawgit.com/bfintal/Counter-Up/master/dist/jquery.counterup.min.js" defer></script>

		<!-- Initialize WOW.js for animations -->
		 <script>
		        document.addEventListener('DOMContentLoaded', () => {
		            new WOW().init();
		        });
		    </script>

			<!-- Custom JavaScript -->
		{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}</body></html>
